
<!DOCTYPE html>
<html>
<head>
  <title>Platform Blog Posts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
    <section class="users_list">
    <h1>The Users List</h1>
    <div class="Add-post">
      <a href=<%="/posts/new" %>>Add a new post</a>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
    <% @users.each do |user| %>
    <div class="users">
      <div class="user_image">
        <img class="img" src=<%= user.photo %> alt="user image" />
      </div> 
         <a href=<%= "/users/#{user.id}" =%> >
         <div class="info">
           <p class="user_name"> <%= user.name %> </p>
            <span class="number_posts"> Number of posts : <%= "#{user.posts_counter || 0}" %> <span>
         </div>
         </a>
     </div>
     <% end %>
     
     </section>
</body>
</html>