<!DOCTYPE html>
<html>
<head>
  <title>Platform Blog Posts</title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
   <div class="container">
      <h2> create a post </h2>
   <%= form_with model: @post, url: "/posts" do |form| %>
    <div class="form">
    <%= form.text_field :title, placeholder: "title", class: "field" %>
    <%= form.text_area :text,  placeholder: "Add a post", class: "field" %>
    <%= form.submit "submit", class: "btn" %>
    </div>
    <% end %>
  </div>
</body>
</html>