<!DOCTYPE html>
<html>
<head>
  <title>Platform Blog Posts</title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
    <h1>Here is a post to a given user</h1>
  <section>
  <div>
      <div>
       <h1> PostNo1 by <%= @user.name %>  </h1>
       <span>Comments: <%= @post.comments_counter || 0 %> </span>
       <span> Likes: <%= @post.likes_counter || 0%> </span>
       <%= form_with model: @like, url: "/users/#{@current_user.id}/posts/#{@post.id}/likes" do |form| %>
           <% form.submit "ðŸ‘ðŸ»" %>
        <% end %>
        <%= button_to "Delete", "/users/#{@current_user.id}/posts/#{@post.id}", method: :delete, data: { confirm: "Are you sure?" } %>
       </div>
       <div>
       <p> <%= @post.text %> </p>
       <div>
  </div>
   
  <div>
  <% @post.comments.each do |comment| %>
  <p> <%= "#{comment.author.name}: #{comment.text}" %> </p>
  <% end %>
  </div>

    <div>
     <h3>Add a comment: </h3>
       <%= form_with model: @comment, url: "/users/#{@current_user.id}/posts/#{@post.id}/comments" do |form| %>
          <%= form.text_area :text,  placeholder: "Add a comment" %>
          <%= form.submit "submit" %>
      <% end %>
    </div>
  </section>
</body>
</html>